In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import *
from pyspark.sql.functions import *
spark = SparkSession.builder\
                    .master("local")\
                    .appName('Firstprogram')\
                    .getOrCreate()
sc=spark.sparkContext

In [35]:
text_file = sc.textFile("wikisent2.txt")
counts = text_file.flatMap(lambda line: line.split(" ")) \
                            .map(lambda word: (word, 1))

In [48]:
wordcount_df = counts.toDF(["word", "count"])
wordcount_df.show(5) # only show part of the dataframe

+-----------+-----+
|       word|count|
+-----------+-----+
|  0.000123,|    1|
|      which|    1|
|corresponds|    1|
|         to|    1|
|          a|    1|
+-----------+-----+
only showing top 5 rows

In [49]:
word_count_grouped = wordcount_df.groupBy(['word']).agg(sum("count").alias('counts')).orderBy(desc('counts'))
word_count_grouped.show(10)

+----+-------+
|word| counts|
+----+-------+
| the|8856585|
|  of|5329711|
|  in|4610327|
| and|4503808|
|   a|3757833|
|  is|3339208|
|  to|2216350|
| The|1926053|
| was|1925094|
|  by|1381498|
+----+-------+
only showing top 10 rows

In [50]:
word_count_grouped.select(sum(col("counts"))).show(10)

+-----------+
|sum(counts)|
+-----------+
|  151523090|
+-----------+

In [51]:
word_count_grouped.select(max(col("counts"))).show(10)

+-----------+
|max(counts)|
+-----------+
|    8856585|
+-----------+

In [53]:
df_query = wordcount_df.filter((word_count_grouped.word == 'china'))
df_query.show()

+-----+-----+
| word|count|
+-----+-----+
|china|    1|
|china|    1|
|china|    1|
|china|    1|
|china|    1|
|china|    1|
|china|    1|
|china|    1|
|china|    1|
|china|    1|
|china|    1|
|china|    1|
|china|    1|
|china|    1|
|china|    1|
|china|    1|
|china|    1|
|china|    1|
|china|    1|
|china|    1|
+-----+-----+
only showing top 20 rows

In [54]:
# Your code here, you can add blocks if necessary
df_groupby_start = wordcount_df.groupBy(wordcount_df.word.substr(1,1) \
                                        .alias('starting_letter')) \
                                        .sum("count") \
                                        .orderBy("starting_letter")
df_groupby_start.show(26)

+---------------+----------+
|starting_letter|sum(count)|
+---------------+----------+
|              !|       128|
|              "|    424992|
|              #|     26470|
|              $|     30706|
|              %|        26|
|              &|     75613|
|              '|     45657|
|              (|   1375469|
|              )|      2345|
|              *|       272|
|              +|      2577|
|              ,|      3721|
|              -|     54507|
|              .|     14907|
|              /|      6096|
|              0|     12496|
|              1|   2700908|
|              2|   1788741|
|              3|    248286|
|              4|    165180|
|              5|    147363|
|              6|    112848|
|              7|    100717|
|              8|     92943|
|              9|     86470|
|              :|        57|
+---------------+----------+
only showing top 26 rows